<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/productos">PRODUCTOS</li>
        <li><a href="/clases">CLASES</a></li>
        <li><a href="/galeria">GALERIA</a></li>
        <li><a href="/contacto">CONTACTO</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
