h1 {
    font-family: arial;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-style: italic;

}
p {
    color: red;
    
}

.destacados {
    font-size: 25px;
    font-weight: bold;
}

#caja {
    background-color: blue;
    /* width: 50%; */
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 80px;
    border: 10px solid black;
}

#caja p{
    color: yellow;
}