#blok {
    background-color: white;
    height:890px;
    margin: 10px 515px 10px 515px; 
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    top: 250px;
    
    
}

#box1 {
    background: red;
    margin: 0px;
    width: 290px;
    height: 290px;
    display: flex;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center; 
    
}
#box2 {
    background: blue;
    margin: 0px;
    width: 290px;
    height: 290px;
    display: flex;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center; 
    
}
#box3 {
    background: green;
    margin: 0px;
    width: 290px;
    height: 290px;
    display: flex;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center; 
    
}